.ButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EF293D;
    border-radius: 50px;
    height: 60px;
    width: 200px;
    border: none;
    padding: 0 10px;
}

.Button{
    border: none;
    color: white;
    background-color: #EF293D;
    width: 70%;
    font-size: larger;
    font-weight: 700;
}