.SelectAudioDevices{
    width: 60%;
}

.AudioTitle{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    align-items: center;
}
.AudioOptions{
    display: flex;
    justify-content: center;
}
.Options{
    width: 80%;
    height: 6vh;
    border: solid 2px #000;
    font-size: large;
    font-weight: 400;
}